@using HrApp.Application.WorkLog.DTO;
@model List<WorkLogDTO>

@{
    ViewData["Title"] = "Work Logs";
}

<div class="container mt-5">
	<h2 class="text-center">Work Logs for @ViewBag.UserEmail</h2>
    <a asp-action="ExportToExcel" asp-route-userId="@ViewBag.UserId" class="btn btn-success ml-2">Export to Excel</a>
    <a asp-action="GenerateReport" asp-route-userId="@ViewBag.UserId" class="btn btn-primary">Generate Report</a>
    <table class="table table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Log ID</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Worked Hours</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var log in Model)
                {
                    <tr>
                        <td>@log.Id</td>
                        <td>@log.StartTime.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            @if (log.EndTime.HasValue)
                            {
                                @log.EndTime.Value.ToString("yyyy-MM-dd HH:mm")
                            }
                            else
                            {
                                <span class="text-warning">In Progress</span>
                            }
                        </td>
                        <td>@log.Hours</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No work logs available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
