@using HrApp.Application.Users.DTO
@model List<UserDTO>

<h1>@ViewBag.TeamName</h1>
<p>
    <a asp-action="AddEmployer">Add Employers</a>
</p>
<p>
    <a asp-controller="Assignment" asp-action="Index" asp-route-TeamId="@ViewBag.TeamId">View Assignments</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Data Urodzenia</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.DateOfBirth.ToString("dd-MM-yyyy")</td>
                <td>
                    <a asp-controller="User" asp-action="Details" asp-route-encodedName="@user.Email">Szczegóły</a> |
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Email">Edytuj</a> |
                    <a asp-controller="Team" asp-action="DeleteUserFromTeam" asp-route-UserId="@user.Id" asp-route-TeamId="@ViewBag.TeamId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
}
