@using HrApp.Application.Offer.DTO
@model List<OfferDTO>

@{
    ViewData["Title"] = "Offers";
}

<h2>Offer list</h2>
@if (User.Identity?.IsAuthenticated == true)
{
    <a asp-action="Create">Create Offer</a>
}
<table class="table">
    <thead>
        <tr>
            <th>Position</th>
            <th>Salary</th>
            <th>Description</th>
            <th>Add Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr>
                <td>@offer.PositionName</td>
                <td>@offer.Salary</td>
                <td>@offer.Description</td>
                <td>@offer.AddDate</td>
                @if (User.Identity?.IsAuthenticated == true){
                    <td><a asp-action="ShowCandidates" asp-route-id="@offer.Id">Show Candidates</a></td>
                }
                else
                {
                    <td><a asp-action="Apply" asp-route-id="@offer.Id">Apply for job</a></td>
                }
            </tr>
        }
    </tbody>
</table>
