@using HrApp.Application.Users.DTO
@model CurrentUser

@{
    ViewData["Title"] = "User";
}

<h1>Your currnet data</h1>

@if (Model != null)
{
    @if (Model.ipVerification == true.ToString())
    {
        <form asp-controller="User"
              asp-action="DeleteIp"
              method="post"
              onsubmit="return confirm('Are you sure you want to delete ip verification?');"
              style="display:inline;">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger p-2 m-0 align-baseline">
                Delete
            </button>
        </form>
    }
    else
    {
        <form asp-controller="User"
              asp-action="CreateNewIp"
              method="post"
              onsubmit="return confirm('Are you sure you want to create ip verification?');"
              style="display:inline;">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success p-2 m-0 align-baseline">
                Create
            </button>
        </form>
    }
    <!--<a asp-controller="User" asp-action="DeleteUser" asp-route-UserId="@Model.id" class="btn btn-danger">Delete</a>
       -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

    <div>
        <p>Email: @Model.email</p>
        <p>Id: @Model.id</p>
        <hr />
        <div>
            <h2>Roles</h2>
            <ul>
                @foreach (var role in Model.roles)
                {
                    <li>@role</li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <p>No user data available.</p>
}

@{
}
