@using HrApp.Application.Users.DTO
@model UserDTO

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Email Details</h1>

<div class="d-flex mb-5 gap-2">
    <div>
        <a asp-controller="SalaryHistory" asp-action="GetSalaryHistory" asp-route-userId="@Model.Id" class="btn btn-outline-secondary">Salary history</a>
    </div>
    <div>
        <a asp-controller="EmploymentHistory" asp-action="GetEmpHist" asp-route-userId="@Model.Id" class="btn btn-outline-secondary">Employment History</a>
    </div>
    <div>
        <a asp-controller="WorkLog" asp-action="GetWorkLogs" asp-route-userId="@Model.Id" class="btn btn-outline-secondary">Work logs</a>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>