@using HrApp.Domain.Entities
@model HrApp.Application.WorkLog.DTO.WorkLogDTO

@{
    ViewData["Title"] = "User Panel";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h2>User Panel</h2>
                </div>
                <div class="card-body">
                    <p class="lead text-center">
                        Welcome to your user panel! Here, you will find:
                    </p>
                    <ul class="list-group list-group-flush text-center" >
                        <li class="list-group-item">
                            <a asp-controller="WorkLog" asp-action="GetWorkLogs" asp-route-UserId="@ViewBag.UserId">The number of hours you have worked</a>
                        </li>
                        <li class="list-group-item">
                            <a asp-controller="EmployeeRate" asp-action="GetRatesForUser" asp-route-UserId="@ViewBag.UserId">Your performance statistics</a>
                        </li>
                        <li class="list-group-item">
                            Upcoming deadlines : On your work mail!
                        </li>
                    </ul>
                    <p class="mt-4 text-center">
                        Stay organized and keep track of your progress!
                    </p>
                </div>

                <div class="text-center">
                    @if (Model == null)
                    {
                        <form asp-controller="WorkLog" asp-action="StartWorkLog" method="post">
                            <input type="hidden" name="userId" value="@ViewBag.UserId" />
                            <button type="submit" class="btn btn-success">Rozpocznij pracę</button>
                        </form>
                    }
                    else if (Model.EndTime == null)
                    {
                        <form asp-controller="WorkLog" asp-action="EndWorkLog" method="post">
                            <input type="hidden" name="userId" value="@ViewBag.UserId" />
                            <button type="submit" class="btn btn-danger">Zakończ pracę</button>
                        </form>
                    }
                    else
                    {
                        <p>Praca zakończona. Przepracowane godziny: @Model.Hours</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
