@model IEnumerable<HrApp.Application.Assignment.DTO.AssignmentDTO>

@{
    ViewData["Title"] = "Assignments";
    var isTeamView = ViewBag.TeamId != null;
    var title = ViewBag.Title;
}

<h1>@(title)</h1>

<p>
    @if (isTeamView)
    {
        <a asp-controller="Assignment" asp-action="Create" asp-route-TeamId="@ViewBag.TeamId" class="btn btn-primary">Create</a>
    }
    else
    {
        <a asp-controller="Assignment" asp-action="Create" class="btn btn-primary">Create</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.DifficultyLevel)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.DifficultyLevel)</td>
                <td>
                    <a asp-action="Edit" asp-route-assignmentId="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    @if(User.IsInRole("Ceo") || User.IsInRole("Hr"))
                    {
                        <a asp-action="AddAssignmentToTeam" asp-route-id="@item.Id">Assign to Team</a>
                    }
                    else if(User.IsInRole("TeamLeader"))
                    {
                        <a asp-route-TeamId="@item.AssignedToTeamId"
                           asp-action="Complete"
                           asp-route-AssignmentId="@item.Id">End task</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
